.readInstructionsContainer {
  position: fixed;
  bottom: 30px;
  right: 80px; /* valor ajustado para afastar do canto direito */
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}

@media (max-width: 768px) {
  .readInstructionsContainer {
    bottom: 20px;
    right: 20px;
  }
}